.page {
  flex-grow: 1;
  line-height: 1.5;
  margin:0;
  padding: 0;
  overflow-wrap: break-word;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.title {
  background-color: transparent;
  font-family: "Algeria";
  font-size: 5rem;
  color: $dark-blue;
  margin: 0;
  padding: 0;
  text-align: center;
}