.container {
    margin : 2%;
    padding: 2%;
    display: flex;
    justify-content: space-around;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    position: relative;
    font-size: 1.2rem;

  }

  .cell {
    padding: 2%;
    margin: 0;
    flex-grow: 1;
    flex-basis: calc(100 / 4 ) * 1%;
    position: sticky;
    border: 1px solid black;
    text-align: center;
    font-size: 1rem;
    box-sizing: border-box;

    &--heading {
      background-color: $silver;
      font-size: 1.2rem;
      font-weight: bold;
    }

    @include respond-small {
      font-size: 1.1rem;
    }

    @include respond-medium {
      font-size: 1.2rem;;
    }

    @include respond-large{
      font-size: 1.3rem;
    }

    @include respond-x-large{
      font-size: 1.4rem;
    }

  }

  .loading {
    position: relative;
    margin-left: 1%;
    opacity: 0;
    animation: move-emojis 1s forwards infinite;
    text-align: left;
    float: left;
    flex-basis: 100%;
  }

@keyframes move-emojis {
  0% {
    bottom: -0.5em;
    opacity: 1;
  }

  40% {
    bottom: 0.5em;
  }

  60% {
    bottom: 0;
    opacity: 1;
  }
}