.container {
    padding: 2%;
    display: grid;
    justify-content: space-around;
    grid-template-columns: minmax(0, 1fr);
    justify-items: stretch;
    align-items: center;
    position: relative;
    font-family: "Algeria";
  
    @include respond-medium {  
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }

    @include respond-large{  
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    }
  }

  .cell {
    padding: 1% 5%;
    margin: 0;
    position: sticky;
    text-align: center;
    contain: content;
    font-size: 1.4rem;

    @include respond-small {
      font-size: 1.6rem;
    }

    @include respond-medium {
      font-size: 1.6rem;
      padding: 1% 3%;
    }

    @include respond-large{
      font-size: 1.7rem;
      display: block;
      padding: 1% 6%;
    }

    &__heading {
      background-color: $lemon;
      color: $cherry;
      font-size: 1rem;
      font-weight: 900;
      padding: 1%;
      display: none;
      margin: 0 0 5% 0;

      @include respond-small {
        font-size: 1.3rem;
      }
  
      @include respond-medium {
        font-size: 1.6rem;
        padding: 3%;
      }
  
      @include respond-large{
        display: block;
      }
    }

    &__image {
      margin: 0 0 4% 0;
      
      @include respond-medium {
        margin: 0;
      }
    }

  }

  .loading {
    position: relative;
    margin-left: 1%;
    opacity: 0;
    animation: move-emojis 1s forwards infinite;
    text-align: left;
    float: left;
  }

@keyframes move-emojis {
  0% {
    bottom: -0.5em;
    opacity: 1;
  }

  40% {
    bottom: 0.5em;
  }

  60% {
    bottom: 0;
    opacity: 1;
  }
}