.container {
    margin : 2%;
    padding: 2%;
    display: grid;
    justify-content: space-around;
    grid-template-columns: minmax(0, 1fr);
    justify-items: stretch;
    align-content: center;
    position: relative;
    font-size: 1rem;
  
    @include respond-small {  
      font-size: 1.2rem;
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }

    @include respond-medium {  
      font-size: 1.2rem;
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    }
  }

  .cell {
    padding: 0;
    margin: 0;
    position: sticky;
    border: 1px solid black;
    text-align: center;
    contain: content;

    &__heading {
      background-color: $silver;
      font-size: 1rem;
      font-weight: bold;
      padding: 1%;
      display: none;

      @include respond-small {
        font-size: 1.1rem;
      }
  
      @include respond-medium {
        font-size: 1rem;
        padding: 2%;
        display: block;
      }
  
      @include respond-large{
        font-size: 1.2rem;
      }
    }

    &__image {
      margin: 1% 0 0 0;
      
      @include respond-medium {
        margin-top: 2%;
      }
    }

  }

  .loading {
    position: relative;
    margin-left: 1%;
    opacity: 0;
    animation: move-emojis 1s forwards infinite;
    text-align: left;
    float: left;
  }

@keyframes move-emojis {
  0% {
    bottom: -0.5em;
    opacity: 1;
  }

  40% {
    bottom: 0.5em;
  }

  60% {
    bottom: 0;
    opacity: 1;
  }
}